In [2]:
import pandas as pd
import numpy as np

In [3]:
data_path = r'C:\Users\fadia\OneDrive\Desktop\Ody\Scripts\Transformed Data\Master Combined\Master_Sales_Data_2021-08-19_to_2025-07-22.csv'
df=pd.read_csv(data_path)

In [6]:
item = "J.W Black Label Btl"
df_item = df[df['Item'] == item]
mask = df_item['Price'] <80
df_item_filtered = df_item[mask]
df_item_filtered

,Date,Item,Quantity,Price,Total_Price,Table,Payment,Day_Date,Weekday_Name,Table_Type,Period,Cost_Price
400750,2023-10-19 16:44:03,J.W Black Label Btl,6,32.8920,197.352,500,Credit,2023-10-19,Thu,Delivery,Afternoon,32.8703
441841,2023-12-27 16:37:23,J.W Black Label Btl,1,36.1100,36.110,500,Credit,2023-12-27,Wed,Delivery,Afternoon,32.8703
543079,2024-06-30 17:30:48,J.W Black Label Btl,1,33.0900,33.090,500,Credit,2024-06-30,Sun,Delivery,Afternoon,32.8703
710046,2025-05-08 17:56:08,J.W Black Label Btl,24,32.8703,788.887,50,Cash,2025-05-08,Thu,Outdoor,Afternoon,32.8703
721845,2025-05-31 20:22:27,J.W Black Label Btl,1,33.6700,33.670,600,Credit,2025-05-31,Sat,Unknown Category,Dinner,32.8703

In [1423]:
mask_date = "2025-05-08"

In [1424]:
mask = (df["Day_Date"] == mask_date)
df[mask]

,Date,Item,Quantity,Price,Total_Price,Table,Payment,Day_Date,Weekday_Name,Table_Type,Period,Cost_Price
709792,2025-05-08 13:01:09,Sparkling Water S,2,2.75,5.50,43,Capital-Visa,2025-05-08,Thu,Outdoor,Lunch,0.610
709793,2025-05-08 13:01:14,Lunardi P.Grigio-Gls,2,4.20,8.40,43,Capital-Visa,2025-05-08,Thu,Outdoor,Lunch,3.500
709794,2025-05-08 13:04:58,Shrimp Tampora,1,6.80,6.80,43,Capital-Visa,2025-05-08,Thu,Outdoor,Lunch,6.375
709795,2025-05-08 13:23:16,J&B Rare Gls,1,3.90,3.90,200,Credit,2025-05-08,Thu,Complementary,Lunch,3.250
709796,2025-05-08 13:23:19,Small Water,1,1.00,1.00,200,Credit,2025-05-08,Thu,Complementary,Lunch,0.058
...,...,...,...,...,...,...,...,...,...,...,...,...
710578,2025-05-09 00:19:19,G Soda,1,2.50,2.50,200,Credit,2025-05-08,Thu,Complementary,Dinner,0.357
710579,2025-05-09 00:24:20,G Soda,2,2.50,5.00,200,Credit,2025-05-08,Thu,Complementary,Dinner,0.357
710580,2025-05-09 00:24:20,Lemon Fresh Juice,1,3.50,3.50,200,Credit,2025-05-08,Thu,Complementary,Dinner,1.800
710581,2025-05-09 00:24:20,Crudites Platter,1,7.75,7.75,200,Credit,2025-05-08,Thu,Complementary,Dinner,3.875
710582,2025-05-09 00:28:22,Smoothy Shot Gin,5,5.75,28.75,300,Cash,2025-05-08,Thu,Complementary,Dinner,5.750

In [1425]:
# get top 20 most sold items = df['Item'].value_counts().head(5)
top_items = df['Item'].value_counts().head(20)
top_items

Item
Small Water                75947
Amstel Pint                69869
G Soda                     36254
Pepsi                      18345
Sparkling Water S          15281
Russian Standard Gls       14588
Mixers Lemon               13805
Spinach Dip                13459
Crudites Platter           13399
Jose Cuervo Silver Gls     10428
J.W Black Label Gls         9672
French Frise                9236
G Tonic                     8435
Jameson Gls                 8264
Amstel Half Pint            8184
Edamame                     8022
Bombay Gls                  8010
Dynamite Wasabi Shrimps     7889
Chicken Tenders             7855
Chivas Regal 12 Gls         7766
Name: count, dtype: int64

In [1426]:
top_day_items = df[df['Day_Date'] == mask_date]['Item'].value_counts().head(50)
top_day_items

Item
Small Water                81
Amstel Pint                81
G Soda                     50
Edammame                   24
Sparkling Water S          20
Jose Cuervo Silver Gls     13
Buffalo Tenders            12
Heineken Draft             12
French Frise               11
Margarita                  11
Crudites Platter           11
Mixers Lemon               11
Dynamite Shrimp            10
Peroni Btl.                10
Spice Crispy Salmon         9
J.W Black Label Gls         9
G Tonic                     9
Classic Sliders             8
D.7 Up                      8
Spinach Dip                 8
Tanqueray Gls               8
Jr Classic Shiraz- Gls      8
Aperol Spirits              8
Oriental  Rocca             8
Lunardi P.Grigio-Gls        8
Petra Blond Draft           7
Corona                      7
Shrimp Gyoza                7
Patron Silver Gls           7
Torresella Rose-Gls         7
Jose Cuervo Gold Gls        7
Mojito Virgen               7
Bombay Gls                  7
Beef Casserole              6
Mexican Beer                6
Petra Gluten Free           6
Espresso                    6
Extra Chips                 6
Ura Crazy                   6
G Bitter Lemon              5
Pepsi                       5
Tuna Usuzukuri              5
Hendricks Gls               5
Russian Standard Btl        5
Russian Standard Gls        5
Long Island Electric        4
Lunardi Merlot-Gls          4
Brisket Sliders             4
Tequila Anejo 1800- Gls     4
Katsu Wagyu                 4
Name: count, dtype: int64

In [1427]:
mask_item = 'J.W Black Label Btl'
mask = (df["Item"] == mask_item) & (df["Day_Date"] == mask_date)
df[mask]

,Date,Item,Quantity,Price,Total_Price,Table,Payment,Day_Date,Weekday_Name,Table_Type,Period,Cost_Price
710046,2025-05-08 17:56:08,J.W Black Label Btl,24,32.8703,788.887,50,Cash,2025-05-08,Thu,Outdoor,Afternoon,32.8703

In [1428]:
mask_item = 'Amstel Pint'
mask = (df["Item"] == mask_item) & (df["Day_Date"] == mask_date)
df[mask]

,Date,Item,Quantity,Price,Total_Price,Table,Payment,Day_Date,Weekday_Name,Table_Type,Period,Cost_Price
709799,2025-05-08 13:51:12,Amstel Pint,1,3.3,3.3,119,Cash,2025-05-08,Thu,Bar,Lunch,2.75
709801,2025-05-08 13:57:29,Amstel Pint,1,3.3,3.3,21,Cash,2025-05-08,Thu,Bar Area,Lunch,2.75
709805,2025-05-08 14:11:52,Amstel Pint,1,3.3,3.3,21,Cash,2025-05-08,Thu,Bar Area,Lunch,2.75
709818,2025-05-08 14:37:39,Amstel Pint,2,3.3,6.6,21,Cash,2025-05-08,Thu,Bar Area,Lunch,2.75
709822,2025-05-08 14:42:27,Amstel Pint,1,3.3,3.3,120,Cash,2025-05-08,Thu,Bar,Lunch,2.75
...,...,...,...,...,...,...,...,...,...,...,...,...
710537,2025-05-08 23:10:29,Amstel Pint,1,5.5,5.5,11,Capital-Visa,2025-05-08,Thu,Dining Area,Dinner,2.75
710538,2025-05-08 23:11:04,Amstel Pint,1,5.5,5.5,26,Capital-Visa,2025-05-08,Thu,Bar Area,Dinner,2.75
710541,2025-05-08 23:12:59,Amstel Pint,2,5.5,11.0,30,Capital-Visa,2025-05-08,Thu,Bar Area,Dinner,2.75
710548,2025-05-08 23:22:23,Amstel Pint,1,5.5,5.5,26,Capital-Visa,2025-05-08,Thu,Bar Area,Dinner,2.75
710568,2025-05-08 23:51:48,Amstel Pint,1,5.5,5.5,30,Capital-Visa,2025-05-08,Thu,Bar Area,Dinner,2.75

In [1429]:
mask_item = 'Spinach Dip'
mask = (df["Item"] == mask_item) & (df["Day_Date"] == mask_date)
df[mask]

,Date,Item,Quantity,Price,Total_Price,Table,Payment,Day_Date,Weekday_Name,Table_Type,Period,Cost_Price
709835,2025-05-08 15:07:36,Spinach Dip,1,6.20,6.20,5,Capital-Visa,2025-05-08,Thu,Dining Area,Lunch,3.875
709873,2025-05-08 15:52:23,Spinach Dip,1,6.20,6.20,120,Cash,2025-05-08,Thu,Bar,Lunch,3.875
710072,2025-05-08 18:09:53,Spinach Dip,1,6.20,6.20,9,Cash,2025-05-08,Thu,Dining Area,Afternoon,3.875
710081,2025-05-08 18:12:51,Spinach Dip,1,6.20,6.20,41,Capital-Visa,2025-05-08,Thu,Outdoor,Afternoon,3.875
710131,2025-05-08 18:46:42,Spinach Dip,1,6.20,6.20,12,Capital-Visa,2025-05-08,Thu,Dining Area,Afternoon,3.875
710237,2025-05-08 20:28:15,Spinach Dip,1,7.75,7.75,26,Cash,2025-05-08,Thu,Bar Area,Dinner,3.875
710424,2025-05-08 22:05:01,Spinach Dip,1,7.75,7.75,2,Capital-Visa,2025-05-08,Thu,Dining Area,Dinner,3.875
710482,2025-05-08 22:24:06,Spinach Dip,1,7.75,7.75,48,Cash,2025-05-08,Thu,Outdoor,Dinner,3.875

In [1430]:
mask_item = 'Russian Standard Gls'
mask = (df["Item"] == mask_item) & (df["Day_Date"] == mask_date)
df[mask]

,Date,Item,Quantity,Price,Total_Price,Table,Payment,Day_Date,Weekday_Name,Table_Type,Period,Cost_Price
709991,2025-05-08 17:12:47,Russian Standard Gls,1,3.6,3.6,3,Capital-Visa,2025-05-08,Thu,Dining Area,Afternoon,3.0
710034,2025-05-08 17:49:21,Russian Standard Gls,1,3.6,3.6,3,Capital-Visa,2025-05-08,Thu,Dining Area,Afternoon,3.0
710224,2025-05-08 20:18:32,Russian Standard Gls,1,6.0,6.0,12,Capital-Visa,2025-05-08,Thu,Dining Area,Dinner,3.0
710260,2025-05-08 20:35:39,Russian Standard Gls,1,6.0,6.0,25,Amex,2025-05-08,Thu,Bar Area,Dinner,3.0
710262,2025-05-08 20:36:18,Russian Standard Gls,1,6.0,6.0,12,Capital-Visa,2025-05-08,Thu,Dining Area,Dinner,3.0

In [1431]:
mask_item = 'Jose Cuervo Silver Gls'
mask = (df["Item"] == mask_item) & (df["Day_Date"] == mask_date)
df[mask]

,Date,Item,Quantity,Price,Total_Price,Table,Payment,Day_Date,Weekday_Name,Table_Type,Period,Cost_Price
709856,2025-05-08 15:33:05,Jose Cuervo Silver Gls,1,3.9,3.9,120,Cash,2025-05-08,Thu,Bar,Lunch,3.0
709866,2025-05-08 15:47:29,Jose Cuervo Silver Gls,2,3.9,7.8,42,Capital-Visa,2025-05-08,Thu,Outdoor,Lunch,3.0
709871,2025-05-08 15:52:09,Jose Cuervo Silver Gls,1,3.9,3.9,42,Capital-Visa,2025-05-08,Thu,Outdoor,Lunch,3.0
709876,2025-05-08 15:58:12,Jose Cuervo Silver Gls,1,3.9,3.9,5,Capital-Visa,2025-05-08,Thu,Dining Area,Lunch,3.0
709911,2025-05-08 16:19:54,Jose Cuervo Silver Gls,1,3.9,3.9,5,Capital-Visa,2025-05-08,Thu,Dining Area,Afternoon,3.0
709922,2025-05-08 16:23:48,Jose Cuervo Silver Gls,2,3.9,7.8,42,Capital-Visa,2025-05-08,Thu,Outdoor,Afternoon,3.0
709964,2025-05-08 16:51:15,Jose Cuervo Silver Gls,2,3.9,7.8,42,Capital-Visa,2025-05-08,Thu,Outdoor,Afternoon,3.0
709966,2025-05-08 16:55:57,Jose Cuervo Silver Gls,1,3.9,3.9,5,Capital-Visa,2025-05-08,Thu,Dining Area,Afternoon,3.0
710001,2025-05-08 17:18:19,Jose Cuervo Silver Gls,2,3.9,7.8,42,Capital-Visa,2025-05-08,Thu,Outdoor,Afternoon,3.0
710067,2025-05-08 18:06:31,Jose Cuervo Silver Gls,2,3.9,7.8,42,Capital-Visa,2025-05-08,Thu,Outdoor,Afternoon,3.0
710255,2025-05-08 20:33:53,Jose Cuervo Silver Gls,1,6.5,6.5,33,Capital-Visa,2025-05-08,Thu,Bar Area,Dinner,3.0
710320,2025-05-08 21:17:59,Jose Cuervo Silver Gls,1,6.5,6.5,33,Capital-Visa,2025-05-08,Thu,Bar Area,Dinner,3.0
710441,2025-05-08 22:09:58,Jose Cuervo Silver Gls,1,6.5,6.5,4,Cash,2025-05-08,Thu,Dining Area,Dinner,3.0

In [1432]:
mask_item = 'J.W Black Label Gls'
mask = (df["Item"] == mask_item) & (df["Day_Date"] == mask_date)
df[mask]

,Date,Item,Quantity,Price,Total_Price,Table,Payment,Day_Date,Weekday_Name,Table_Type,Period,Cost_Price
709815,2025-05-08 14:36:48,J.W Black Label Gls,1,4.2,4.2,115,Cash,2025-05-08,Thu,Bar,Lunch,3.5
709852,2025-05-08 15:27:15,J.W Black Label Gls,1,4.2,4.2,115,Cash,2025-05-08,Thu,Bar,Lunch,3.5
709864,2025-05-08 15:46:31,J.W Black Label Gls,1,4.2,4.2,115,Cash,2025-05-08,Thu,Bar,Lunch,3.5
709927,2025-05-08 16:27:29,J.W Black Label Gls,1,4.2,4.2,115,Cash,2025-05-08,Thu,Bar,Afternoon,3.5
710314,2025-05-08 21:12:50,J.W Black Label Gls,1,7.0,7.0,115,Cash,2025-05-08,Thu,Bar,Dinner,3.5
710450,2025-05-08 22:14:34,J.W Black Label Gls,2,7.0,14.0,115,Cash,2025-05-08,Thu,Bar,Dinner,3.5
710515,2025-05-08 22:44:31,J.W Black Label Gls,1,7.0,7.0,115,Cash,2025-05-08,Thu,Bar,Dinner,3.5
710516,2025-05-08 22:46:54,J.W Black Label Gls,1,7.0,7.0,115,Cash,2025-05-08,Thu,Bar,Dinner,3.5
710535,2025-05-08 23:08:14,J.W Black Label Gls,1,7.0,7.0,115,Cash,2025-05-08,Thu,Bar,Dinner,3.5

In [1433]:
mask_item = 'Jameson Gls'
mask = (df["Item"] == mask_item) & (df["Day_Date"] == mask_date)
df[mask]

,Date,Item,Quantity,Price,Total_Price,Table,Payment,Day_Date,Weekday_Name,Table_Type,Period,Cost_Price
710033,2025-05-08 17:49:20,Jameson Gls,1,3.9,3.9,3,Capital-Visa,2025-05-08,Thu,Dining Area,Afternoon,3.25
710093,2025-05-08 18:24:11,Jameson Gls,1,3.9,3.9,3,Capital-Visa,2025-05-08,Thu,Dining Area,Afternoon,3.25

In [1434]:
mask_item = 'Edamame'
mask = (df["Item"] == mask_item) & (df["Day_Date"] == mask_date)
df[mask]

Empty DataFrame
Columns: [Date, Item, Quantity, Price, Total_Price, Table, Payment, Day_Date, Weekday_Name, Table_Type, Period, Cost_Price]
Index: []

In [1435]:
mask_item = 'Lunardi Merlot-Gls'
mask = (df["Item"] == mask_item) & (df["Day_Date"] == mask_date)
df[mask]

,Date,Item,Quantity,Price,Total_Price,Table,Payment,Day_Date,Weekday_Name,Table_Type,Period,Cost_Price
710122,2025-05-08 18:38:28,Lunardi Merlot-Gls,1,4.2,4.2,25,Amex,2025-05-08,Thu,Bar Area,Afternoon,3.5
710139,2025-05-08 18:50:27,Lunardi Merlot-Gls,1,4.2,4.2,25,Amex,2025-05-08,Thu,Bar Area,Afternoon,3.5
710150,2025-05-08 18:54:21,Lunardi Merlot-Gls,1,4.2,4.2,25,Amex,2025-05-08,Thu,Bar Area,Afternoon,3.5
710386,2025-05-08 21:48:13,Lunardi Merlot-Gls,1,7.0,7.0,48,Cash,2025-05-08,Thu,Outdoor,Dinner,3.5

In [1436]:
mask_item = 'Chivas Regal 12 Gls'
mask = (df["Item"] == mask_item) & (df["Day_Date"] == mask_date)
df[mask]

,Date,Item,Quantity,Price,Total_Price,Table,Payment,Day_Date,Weekday_Name,Table_Type,Period,Cost_Price
710027,2025-05-08 17:44:35,Chivas Regal 12 Gls,2,4.2,8.4,43,Capital-Visa,2025-05-08,Thu,Outdoor,Afternoon,3.5
710091,2025-05-08 18:22:01,Chivas Regal 12 Gls,1,4.2,4.2,43,Capital-Visa,2025-05-08,Thu,Outdoor,Afternoon,3.5

In [1437]:
mask_item = 'Amstel Half Pint'
mask = (df["Item"] == mask_item) & (df["Day_Date"] == mask_date)
df[mask]

,Date,Item,Quantity,Price,Total_Price,Table,Payment,Day_Date,Weekday_Name,Table_Type,Period,Cost_Price
709828,2025-05-08 14:59:03,Amstel Half Pint,1,2.7,2.7,46,Cash,2025-05-08,Thu,Outdoor,Lunch,1.8
709980,2025-05-08 17:06:28,Amstel Half Pint,1,2.7,2.7,8,Capital-Visa,2025-05-08,Thu,Dining Area,Afternoon,1.8
710160,2025-05-08 18:59:23,Amstel Half Pint,1,2.7,2.7,41,Capital-Visa,2025-05-08,Thu,Outdoor,Afternoon,1.8
710323,2025-05-08 21:18:09,Amstel Half Pint,1,4.5,4.5,21,Capital-Visa,2025-05-08,Thu,Bar Area,Dinner,1.8

In [1438]:
mask_item ='Lunardi P.Grigio-Gls'
mask = (df["Item"] == mask_item) & (df["Day_Date"] == mask_date)
df[mask]

,Date,Item,Quantity,Price,Total_Price,Table,Payment,Day_Date,Weekday_Name,Table_Type,Period,Cost_Price
709793,2025-05-08 13:01:14,Lunardi P.Grigio-Gls,2,4.2,8.4,43,Capital-Visa,2025-05-08,Thu,Outdoor,Lunch,3.5
709797,2025-05-08 13:32:21,Lunardi P.Grigio-Gls,2,4.2,8.4,43,Capital-Visa,2025-05-08,Thu,Outdoor,Lunch,3.5
709804,2025-05-08 14:11:38,Lunardi P.Grigio-Gls,2,4.2,8.4,43,Capital-Visa,2025-05-08,Thu,Outdoor,Lunch,3.5
709823,2025-05-08 14:48:31,Lunardi P.Grigio-Gls,1,4.2,4.2,43,Capital-Visa,2025-05-08,Thu,Outdoor,Lunch,3.5
709824,2025-05-08 14:48:35,Lunardi P.Grigio-Gls,1,4.2,4.2,43,Capital-Visa,2025-05-08,Thu,Outdoor,Lunch,3.5
710186,2025-05-08 19:31:36,Lunardi P.Grigio-Gls,1,7.0,7.0,41,Capital-Visa,2025-05-08,Thu,Outdoor,Dinner,3.5
710454,2025-05-08 22:15:53,Lunardi P.Grigio-Gls,1,7.0,7.0,120,Capital-Visa,2025-05-08,Thu,Bar,Dinner,3.5
710521,2025-05-08 22:52:41,Lunardi P.Grigio-Gls,1,7.0,7.0,120,Capital-Visa,2025-05-08,Thu,Bar,Dinner,3.5

In [1439]:
mask_item ='Edammame'
mask = (df["Item"] == mask_item) & (df["Day_Date"] == mask_date)
df[mask]

,Date,Item,Quantity,Price,Total_Price,Table,Payment,Day_Date,Weekday_Name,Table_Type,Period,Cost_Price
709843,2025-05-08 15:20:37,Edammame,1,5.6,5.6,41,Capital-Visa,2025-05-08,Thu,Outdoor,Lunch,5.25
709897,2025-05-08 16:08:03,Edammame,1,5.6,5.6,10,Capital-Visa,2025-05-08,Thu,Dining Area,Afternoon,5.25
709905,2025-05-08 16:11:47,Edammame,1,5.6,5.6,43,Capital-Visa,2025-05-08,Thu,Outdoor,Afternoon,5.25
710023,2025-05-08 17:41:02,Edammame,1,5.6,5.6,32,Capital-Visa,2025-05-08,Thu,Bar Area,Afternoon,5.25
710041,2025-05-08 17:53:22,Edammame,1,5.6,5.6,22,Capital-Visa,2025-05-08,Thu,Bar Area,Afternoon,5.25
710089,2025-05-08 18:20:44,Edammame,1,5.6,5.6,23,Capital-Visa,2025-05-08,Thu,Bar Area,Afternoon,5.25
710128,2025-05-08 18:44:39,Edammame,1,5.6,5.6,49,Capital-Visa,2025-05-08,Thu,Outdoor,Afternoon,5.25
710130,2025-05-08 18:46:39,Edammame,1,5.6,5.6,12,Capital-Visa,2025-05-08,Thu,Dining Area,Afternoon,5.25
710144,2025-05-08 18:51:05,Edammame,1,5.6,5.6,3,Capital-Visa,2025-05-08,Thu,Dining Area,Afternoon,5.25
710164,2025-05-08 19:03:14,Edammame,1,7.0,7.0,45,Capital-Visa,2025-05-08,Thu,Outdoor,Dinner,5.25
710171,2025-05-08 19:10:14,Edammame,1,7.0,7.0,41,Capital-Visa,2025-05-08,Thu,Outdoor,Dinner,5.25
710172,2025-05-08 19:10:15,Edammame,1,7.0,7.0,41,Capital-Visa,2025-05-08,Thu,Outdoor,Dinner,5.25
710201,2025-05-08 19:48:04,Edammame,1,7.0,7.0,110,Cash,2025-05-08,Thu,Bar,Dinner,5.25
710275,2025-05-08 20:48:55,Edammame,1,7.0,7.0,42,Capital-Visa,2025-05-08,Thu,Outdoor,Dinner,5.25
710319,2025-05-08 21:15:16,Edammame,1,7.0,7.0,7,Capital-Visa,2025-05-08,Thu,Dining Area,Dinner,5.25
710365,2025-05-08 21:38:11,Edammame,1,7.0,7.0,12,Amex,2025-05-08,Thu,Dining Area,Dinner,5.25
710374,2025-05-08 21:41:37,Edammame,1,7.0,7.0,8,Capital-Visa,2025-05-08,Thu,Dining Area,Dinner,5.25
710380,2025-05-08 21:47:09,Edammame,1,7.0,7.0,49,Capital-Visa,2025-05-08,Thu,Outdoor,Dinner,5.25
710381,2025-05-08 21:47:10,Edammame,1,7.0,7.0,49,Capital-Visa,2025-05-08,Thu,Outdoor,Dinner,5.25
710413,2025-05-08 22:01:35,Edammame,1,7.0,7.0,21,Capital-Visa,2025-05-08,Thu,Bar Area,Dinner,5.25
710426,2025-05-08 22:05:05,Edammame,1,7.0,7.0,2,Capital-Visa,2025-05-08,Thu,Dining Area,Dinner,5.25
710442,2025-05-08 22:10:52,Edammame,1,7.0,7.0,20,Capital-Visa,2025-05-08,Thu,Bar Area,Dinner,5.25
710484,2025-05-08 22:25:16,Edammame,1,7.0,7.0,4,Cash,2025-05-08,Thu,Dining Area,Dinner,5.25
710509,2025-05-08 22:38:11,Edammame,1,7.0,7.0,23,Capital-Visa,2025-05-08,Thu,Bar Area,Dinner,5.25

In [1440]:
mask_item ='Dynamite Shrimp'
mask = (df["Item"] == mask_item) & (df["Day_Date"] == mask_date)
df[mask]

,Date,Item,Quantity,Price,Total_Price,Table,Payment,Day_Date,Weekday_Name,Table_Type,Period,Cost_Price
709858,2025-05-08 15:34:44,Dynamite Shrimp,1,6.4,6.4,46,Cash,2025-05-08,Thu,Outdoor,Lunch,4.0
709904,2025-05-08 16:10:31,Dynamite Shrimp,1,6.4,6.4,41,Capital-Visa,2025-05-08,Thu,Outdoor,Afternoon,4.0
709959,2025-05-08 16:48:49,Dynamite Shrimp,1,6.4,6.4,43,Capital-Visa,2025-05-08,Thu,Outdoor,Afternoon,4.0
709971,2025-05-08 16:57:33,Dynamite Shrimp,1,6.4,6.4,11,Capital-Visa,2025-05-08,Thu,Dining Area,Afternoon,4.0
710073,2025-05-08 18:09:56,Dynamite Shrimp,1,6.4,6.4,9,Cash,2025-05-08,Thu,Dining Area,Afternoon,4.0
710079,2025-05-08 18:10:58,Dynamite Shrimp,1,6.4,6.4,22,Capital-Visa,2025-05-08,Thu,Bar Area,Afternoon,4.0
710239,2025-05-08 20:29:59,Dynamite Shrimp,1,8.0,8.0,30,Capital-Visa,2025-05-08,Thu,Bar Area,Dinner,4.0
710370,2025-05-08 21:38:33,Dynamite Shrimp,1,8.0,8.0,7,Capital-Visa,2025-05-08,Thu,Dining Area,Dinner,4.0
710486,2025-05-08 22:25:33,Dynamite Shrimp,1,8.0,8.0,4,Cash,2025-05-08,Thu,Dining Area,Dinner,4.0
710499,2025-05-08 22:35:10,Dynamite Shrimp,1,8.0,8.0,27,Capital-Visa,2025-05-08,Thu,Bar Area,Dinner,4.0

In [1441]:
mask_item ='Buffalo Tenders'
mask = (df["Item"] == mask_item) & (df["Day_Date"] == mask_date)
df[mask]

,Date,Item,Quantity,Price,Total_Price,Table,Payment,Day_Date,Weekday_Name,Table_Type,Period,Cost_Price
709883,2025-05-08 16:01:58,Buffalo Tenders,1,6.0,6.0,3,Capital-Visa,2025-05-08,Thu,Dining Area,Afternoon,3.75
709903,2025-05-08 16:10:31,Buffalo Tenders,1,6.0,6.0,41,Capital-Visa,2025-05-08,Thu,Outdoor,Afternoon,3.75
710021,2025-05-08 17:40:39,Buffalo Tenders,2,6.0,12.0,32,Capital-Visa,2025-05-08,Thu,Bar Area,Afternoon,3.75
710078,2025-05-08 18:10:52,Buffalo Tenders,1,6.0,6.0,22,Capital-Visa,2025-05-08,Thu,Bar Area,Afternoon,3.75
710135,2025-05-08 18:49:16,Buffalo Tenders,1,6.0,6.0,6,Capital-Visa,2025-05-08,Thu,Dining Area,Afternoon,3.75
710240,2025-05-08 20:30:00,Buffalo Tenders,1,7.5,7.5,30,Capital-Visa,2025-05-08,Thu,Bar Area,Dinner,3.75
710284,2025-05-08 20:58:19,Buffalo Tenders,1,7.5,7.5,110,Cash,2025-05-08,Thu,Bar,Dinner,3.75
710373,2025-05-08 21:38:46,Buffalo Tenders,1,7.5,7.5,7,Capital-Visa,2025-05-08,Thu,Dining Area,Dinner,3.75
710488,2025-05-08 22:25:36,Buffalo Tenders,1,7.5,7.5,4,Cash,2025-05-08,Thu,Dining Area,Dinner,3.75
710498,2025-05-08 22:35:05,Buffalo Tenders,2,7.5,15.0,27,Capital-Visa,2025-05-08,Thu,Bar Area,Dinner,3.75
710522,2025-05-08 22:56:19,Buffalo Tenders,1,7.5,7.5,8,Capital-Visa,2025-05-08,Thu,Dining Area,Dinner,3.75
710529,2025-05-08 23:00:29,Buffalo Tenders,1,7.5,7.5,2,Capital-Visa,2025-05-08,Thu,Dining Area,Dinner,3.75

In [1442]:
mask_item ='Bombay Gls'
mask = (df["Item"] == mask_item) & (df["Day_Date"] == mask_date)
df[mask]

,Date,Item,Quantity,Price,Total_Price,Table,Payment,Day_Date,Weekday_Name,Table_Type,Period,Cost_Price
710018,2025-05-08 17:40:24,Bombay Gls,2,4.2,8.4,12,Capital-Visa,2025-05-08,Thu,Dining Area,Afternoon,3.5
710071,2025-05-08 18:09:05,Bombay Gls,2,4.2,8.4,12,Capital-Visa,2025-05-08,Thu,Dining Area,Afternoon,3.5
710175,2025-05-08 19:11:33,Bombay Gls,1,7.0,7.0,12,Capital-Visa,2025-05-08,Thu,Dining Area,Dinner,3.5
710189,2025-05-08 19:35:37,Bombay Gls,2,7.0,14.0,7,Capital-Visa,2025-05-08,Thu,Dining Area,Dinner,3.5
710225,2025-05-08 20:18:38,Bombay Gls,1,7.0,7.0,12,Capital-Visa,2025-05-08,Thu,Dining Area,Dinner,3.5
710268,2025-05-08 20:42:20,Bombay Gls,1,7.0,7.0,3,Capital-Visa,2025-05-08,Thu,Dining Area,Dinner,3.5
710302,2025-05-08 21:07:52,Bombay Gls,1,7.0,7.0,3,Capital-Visa,2025-05-08,Thu,Dining Area,Dinner,3.5

In [1443]:
mask_item ="Classic Sliders"
mask = (df["Item"] == mask_item) & (df["Day_Date"] == mask_date)
df[mask]

,Date,Item,Quantity,Price,Total_Price,Table,Payment,Day_Date,Weekday_Name,Table_Type,Period,Cost_Price
710013,2025-05-08 17:34:28,Classic Sliders,1,7.2,7.2,49,Capital-Visa,2025-05-08,Thu,Outdoor,Afternoon,4.5
710181,2025-05-08 19:22:47,Classic Sliders,1,9.0,9.0,45,Capital-Visa,2025-05-08,Thu,Outdoor,Dinner,4.5
710182,2025-05-08 19:22:50,Classic Sliders,1,9.0,9.0,45,Capital-Visa,2025-05-08,Thu,Outdoor,Dinner,4.5
710212,2025-05-08 20:05:35,Classic Sliders,1,9.0,9.0,41,Capital-Visa,2025-05-08,Thu,Outdoor,Dinner,4.5
710221,2025-05-08 20:14:03,Classic Sliders,1,9.0,9.0,20,Capital-Visa,2025-05-08,Thu,Bar Area,Dinner,4.5
710400,2025-05-08 21:55:52,Classic Sliders,1,9.0,9.0,26,Capital-Visa,2025-05-08,Thu,Bar Area,Dinner,4.5
710487,2025-05-08 22:25:35,Classic Sliders,1,9.0,9.0,4,Cash,2025-05-08,Thu,Dining Area,Dinner,4.5
710500,2025-05-08 22:35:13,Classic Sliders,1,9.0,9.0,27,Capital-Visa,2025-05-08,Thu,Bar Area,Dinner,4.5

In [1444]:
mask_item ="J&B Rare Gls"
mask = (df["Item"] == mask_item) & (df["Day_Date"] == mask_date)
df[mask]

,Date,Item,Quantity,Price,Total_Price,Table,Payment,Day_Date,Weekday_Name,Table_Type,Period,Cost_Price
709795,2025-05-08 13:23:16,J&B Rare Gls,1,3.9,3.9,200,Credit,2025-05-08,Thu,Complementary,Lunch,3.25